.imageCard {
  display: flex;
  flex-direction: column;
  // gap: var(--sp-24);
  border-radius: var(--radius-md);
  background-color: var(--color-white);
  border: 0.67px solid var(--color-black-100);
  max-width: 429px;
}

.imageWrapper {
  width: 100%;
  position: relative;
  height: 358px;
  border-radius: 18px !important;
}

.cardImg {
  width: 100%;
 aspect-ratio: 1;
 object-fit: cover;
 overflow: hidden; 
 position: relative;
 
}

/* ============================= */
/* 🔥 COMPACT VARIANT OVERRIDES */
/* ============================= */

.imageCard--compact {
  padding: 32px;
  border: none;
  transition: background 0.3s ease;
  
  background: var(--blue-300); 
  
}

/* image size fix */
.imageCard--compact .cardImg {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 18px;
  overflow: hidden; 
 position: relative;
}


.imageCard--compact:hover {
  background: linear-gradient(0deg, #FF2883 0%, #FF5A4D 100%);
}

/* text padding already customized */
.imageCard--compact .cardHead {
  padding: var(--sp-24) 0;
}


.cardHead {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);
  padding: var(--sp-24) var(--sp-32);
}

@media (max-width: 1100px) and (min-width: 300px) {
  .imageCard {
    width: 420px;
  }
}

@media (max-width: 500px) {
  .imageCard {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .imageCard {
    // padding: var(--sp-24);
    width: 100%;
  }
  .cardHead {
    // gap: var(--sp-8);
    padding: var(--sp-24);
  }
}
