.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);

  label {
    font-weight: 500;
    color: var(--color-black);
  }

  .input-field {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 0.67px solid var(--color-blue-300) !important;
    outline: none;
    transition: border 0.2s ease-in-out;

    &:focus {
      border: 0.67px solid var(--color-lime) !important;
    }

    &::placeholder {
      color: var(--color-black-300);
    }
  }

  /* ✅ Default white background */
  .input-default {
    background-color: var(--color-white);
  }

  /* ✅ Gray variant background */
  .input-gray {
    background-color: var(--color-blue-300) !important ;
    border: none;

    &:focus {
      border: 0.67px solid var(--color-lime);
      background-color: var(--color-white);
    }
  }
}

.ContactPageVariantInput{
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);

  .input-field {
    width: 100%;
    padding: var(--sp-16);
    font-size: 16px;
    border-radius: var(--sp-16);
    border: 0.67px solid var(--color-black-300);
    outline: none;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      border-color: var(--color-lime);
    }

    &::placeholder {
      color: var(--color-black-300);
    }
  }

}