.office-hours-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-blue-300);
  padding: var(--sp-32);
  border-radius: var(--radius-md);
}

.office-hours-card {
  width: 100%;
  max-width: 500px;
}

.oh-header {
    gap: var(--sp-8);
    display: flex;
    flex-direction: column;
    margin-bottom: var(--sp-24);
}

.oh-rows {
  display: flex;
  flex-direction: column;
  gap: var(--sp-12);
}

.oh-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}

