.team-card {
  display: flex;
  
  flex-direction: column;
  align-items: center;
}
.team-img-container {
  width: 100%;
  height: 280px;
  border-radius: 24px;
  background: var(--color-blue-300);
}

.team-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.team-name {
  margin-top: var(--sp-24);
}

.team-subtitle {
  margin-top: var(--sp-8);
  color: var(--color-black-400);
}