.preview-card {
  position: relative;
  background: rgba(255,255,255,0.04);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.08);
}

/* ICONS TOP RIGHT */
.preview-actions {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 6px;
  z-index: 20;
}

.icon-btn {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
}


.icon-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}


.preview-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
}

.preview-scale {
  width: fit-content;
  transform-origin: top left;
  pointer-events: none;
}
