.pricing-card {
  width: 100%;
  max-width: 420px;
  background: var(--color-blue-300);
  border-radius: var(--radius-md);
  padding: var(--sp-32);
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: all 0.3s ease;
  align-items: stretch;
}

/* Default hidden state */
.extra-section {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease,
    transform 0.4s ease;
}


.price-container:hover .extra-section {
  max-height: 200px; 
}

.pricing-card:hover .extra-section {
  opacity: 1;
  transform: translateY(0);
}



.pricing-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.pricing-icon {
  display: flex;
  height: 41px;
  width: 42px;
  justify-content: center;

  img {
    width: auto;
    height: auto;
    object-fit: cover;
  }
}

.pricing-tag {
  background: var(--color-blue-400);
  color: var(--color-black-500);
  padding: var(--sp-8) var(--sp-16);
  border-radius: var(--radius-lg);
}

.pricing-title {
  display: flex;
  flex-direction: column;
  gap: var(--sp-16);

  .pricing-name {
    color: var(--color-black-500);
  }

  .pricing-desc {
    color: var(--color-black-400);
  }
}

.pricing-features {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: var(--sp-16);
    color: var(--color-black-400);

    .check-icon {
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-white);
    }
  }
}

.pricing-cost {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  .price {
    color: var(--color-black-500);
  }

  .per-month {
    color: var(--color-black-400);
    margin-top: 9px;
  }

  .billed {
    margin-left: auto;
    margin-top: 9px;
    color: var(--color-black-400);
  }
}

.pricing-bottom {
  display: flex;
}

.choose-btn {
  width: 100%;
  background: var(--color-blue-400);
  color: var(--color-black-500);
  padding: var(--sp-16) var(--sp-24);
  border-radius: var(--radius-lg);
  transition: all 0.2s ease;
}

/* ------------------------------ */
/* VARIANTS */
/* ------------------------------ */

/* === VARIANT: LIME === */
.pricing-card.lime {
  .check-icon {
    background: var(--color-lime);
  }

  .choose-btn {
    background: var(--color-lime);
    color: var(--color-black-500);
  }
}

/* === VARIANT: BLUE === */
.pricing-card.blue {
  background: var(--color-blue-300);

  .check-icon {
    background: var(--color-blue-400);
    color: var(--color-white);
  }

  .choose-btn {
    background: var(--color-blue-400);
    color: var(--color-black-500);
  }
}
