.testimonial-section {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  overflow: visible;

  .motion-clip-wrapper {
    overflow: hidden; /* FIX CTA shift */
    width: 100%; /* Prevent reflow */
    position: relative;
  }

  .testimonial-card {
    // will-change: transform;
    // transform: translateZ(0);
    display: flex;
    align-items: stretch;
    gap: var(--sp-32);
    border-radius: var(--radius-md);

    .content-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-content {
        display: flex;
        flex-direction: column;
        background: var(--color-blue-300);
        border-radius: var(--radius-md);
        padding: var(--sp-40);
        gap: var(--sp-40);

        .quote {
          color: var(--color-black-500);
          margin-bottom: var(--sp-24);
        }

        .details {
          color: var(--color-black-400);
          margin-bottom: var(--sp-80);
        }

        .company-logo {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          img {
            height: 40px;
            width: auto;
            object-fit: contain;
          }
        }

        .author {
          border-left: 1px solid var(--color-blue-500);
          padding-left: var(--sp-24);
          display: flex;
          flex-direction: column;
          gap: 4px;

          .name {
            color: var(--color-black-400);
          }

          .role {
            color: #6b7280;
          }
        }
      }
    }
  }

  .image-wrapper {
    flex: 1;
    max-width: 368px;
    border-radius: var(--sp-24);
    overflow: hidden;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .arrows {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-left: auto;
    right: 0;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;

      img {
        width: 50px;
        height: 50px;
        transition: transform 0.2s ease;
      }

      &:hover img {
        transform: scale(1.1);
      }
    }
  }

  @media (max-width: 1024px) {
    .testimonial-card {
      flex-direction: column;
      height: auto;

      .image-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        height: 302px;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }

    padding: 0 0;

    .arrows {
      justify-content: center;
      margin: auto 0;
      position: static;
    }
  }

  @media (max-width: 640px) {
    padding: 0 0;

    .arrows {
      justify-content: flex-end;
      margin: auto 0;
      position: static;
    }

    .card-content {
      padding: 20px;

      .quote {
        margin-bottom: var(--sp-16);
      }

      .details {
        margin-bottom: var(--sp-56);
      }
    }

    .image-wrapper {
      flex: 0 0 100%;
      max-width: 100%;
      height: 302px;

      img {
        width: 100%;
        height: 302px;
        object-fit: cover;
      }
    }
  }
}
