// Venue Stage Styles

// Venue Stage Styles

.venue-stage-container {
  //   min-height: 100vh;
  // padding: 2.5rem 1rem;
}

.venue-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-md);
  padding: var(--sp-16) var(--sp-16) var(--sp-32) var(--sp-16);
  transition: all 300ms ease;

  &:hover {
    background: linear-gradient(to left, #FF2883, #FF5A4D);
  }
}


.venue-grid {
  display: grid;
  gap: 2rem;
  width: 100%;
  // max-width: 1400px;
  // margin: 0 auto;

  // Default to 1 column (Mobile)
  grid-template-columns: 1fr;

  // Tablet
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  // Desktop
  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
